.titlePage {
    color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bodyRounds {
    margin-top: 8rem;
}

.container {
    top: 10px;
    max-width: 700px;
    //height: 5rem;
    margin: 6rem;
    //padding: 0 2rem;
    //display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, minmax(0, 1fr));
    gap: 5px;

    h2 {
        color: var(--white);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 0.5rem;
    }
}

.game {
    display: grid;
    grid-template-columns: 1fr;
    //gap: 1px;
    align-items: center;
    grid-row: span 2;
    //display: block;
    width: 325px;
    height: 110px;
    background: var(--gray-100);
    //align-items: center;
    //justify-content: center;
    //opacity: 60%;
    //color: var(--dark-900)
}

.section {
    border-radius: 1;
    border: 1px solid var(--white);
    padding: 5px;
}