.containerMain {
    margin-top: 8rem;
}

.container {
    margin-top: 15rem;
    max-width: 1100px;
    margin: 4rem auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;

    h1 {
        color: var(--white);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
    }
}

.containerTable {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.table {
    border-collapse: collapse;
    width: 100%;

    th {
        background-color: var(--dark-900);
        color: var(--white);
        font-weight: bold;
        border: 1px solid var(--white);
        padding: 8px;
    }

    td {
        border: 1px solid var(--dark-900);
        padding: 8px;
        text-align: center;
        justify-content: center;
    }
}

.tableBody {
    color: var(--dark-900);
    background-color: var(--white);
    border: var(--dark-900);
}

.titleTable {
    background-color: #f2f2f2;
    font-weight: bold;

    titleTableCell {
        text-align: center;
        justify-content: center;
    }
}